---
layout: default
title: "Tags"
permalink: /tags.html
---

<div class="container">
  <h1>所有標籤</h1>
  <ul>
    {% assign tags_list = site.tags | sort %} {% for tag in tags_list %}
    <li id="{{ tag[0] | downcase }}">
      <h2>#{{ tag[0] }}</h2>
      <ul>
        {% for post in tag[1] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small>({{ post.date | date: "%Y-%m-%d" }})</small>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
