<!-- _includes/lunr-search.html -->

<!-- Lunr.js -->
<script src="{{ '/assets/js/blog_page/lunr.js' | relative_url }}"></script>

<script>
  $(function() {
      $("#lunrsearchresults").on('click', '#btnx', function () {
          $('#lunrsearchresults').hide(1000);
          $("body").removeClass("modal-open");
      });
  });

  {% assign counter = 0 %}
  var documents = [
  {% for page in site.pages %}
  {% if page.url contains '.xml' or page.url contains 'assets' %}
  {% else %}
  {
    "id": {{ counter }},
    "url": "{{ page.url | relative_url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.content | markdownify | strip_html | strip_newlines | replace: '"', ' ' | escape }}"
  }{% assign counter = counter | plus: 1 %},{% endif %}
  {% endfor %}
  {% for post in site.posts %}
  {
    "id": {{ counter }},
    "url": "{{ post.url | relative_url }}",
    "title": "{{ post.title }}",
    "body": "{{ post.date | date: '%Y/%m/%d' }} - {{ post.content | markdownify | strip_html | strip_newlines | replace: '"', ' ' | escape }}"
  }{% assign counter = counter | plus: 1 %}{% if forloop.last == false %},{% endif %}
  {% endfor %}
  ];

  var idx = lunr(function () {
      this.ref('id');
      this.field('title');
      this.field('body');

      documents.forEach(function (doc) {
          this.add(doc);
      }, this);
  });

  function lunr_search(term) {
      $('#lunrsearchresults').show(1000);
      $("body").addClass("modal-open");

      document.getElementById('lunrsearchresults').innerHTML = `
      <div id="resultsmodal" class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="resultsmodal">
        <div class="modal-dialog shadow-lg" role="document">
          <div class="modal-content">
            <div class="modal-header" id="modtit">
              <button type="button" class="close" id="btnx" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
              <ul class="mb-0"></ul>
            </div>
            <div class="modal-footer">
              <button id="btnx" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>`;

      if(term) {
          document.getElementById('modtit').innerHTML = "<h5 class='modal-title'>Search results for '" + term + "'</h5>" + document.getElementById('modtit').innerHTML;
          var results = idx.search(term);
          var ul = document.querySelector('#lunrsearchresults ul');
          ul.innerHTML = '';

          if(results.length > 0) {
              results.forEach(function(res) {
                  var ref = res.ref;
                  var doc = documents[ref];
                  var body_snippet = doc.body.substring(0, 160) + '...';
                  ul.innerHTML += `
                  <li class='lunrsearchresult'>
                    <a href='${doc.url}'>
                      <span class='title'>${doc.title}</span><br />
                      <small><span class='body'>${body_snippet}</span><br /><span class='url'>${doc.url}</span></small>
                    </a>
                  </li>`;
              });
          } else {
              ul.innerHTML = "<li class='lunrsearchresult'>Sorry, no results found. Close & try a different search!</li>";
          }
      }
      return false;
  }
</script>

<style>
  .lunrsearchresult .title {
    color: #d9230f;
  }
  .lunrsearchresult .url {
    color: silver;
  }
  .lunrsearchresult a {
    display: block;
    color: #777;
  }
  .lunrsearchresult a:hover,
  .lunrsearchresult a:focus {
    text-decoration: none;
  }
  .lunrsearchresult a:hover .title {
    text-decoration: underline;
  }
</style>

<!-- Search Form -->
<form
  class="bd-search hidden-sm-down"
  onSubmit="return lunr_search(document.getElementById('lunrsearch').value);"
>
  <input
    type="text"
    class="form-control text-small"
    id="lunrsearch"
    name="q"
    value=""
    placeholder="Type keyword and enter..."
  />
</form>

<!-- Container for Search Results -->
<div id="lunrsearchresults" style="display: none"></div>
